@tailwind base;
@tailwind components;
@tailwind utilities;

.cm-scroller {
    overflow: hidden !important;
}

form,
input[type="checked"],
input[type="radio"] {
    color-scheme: dark;
}

input {
    color-scheme: dark;
}

input:disabled,
button:disabled {
    cursor: not-allowed;
}

main {
    grid-template-columns: 70% 30%;
}